
.number-swiper-column{
  overflow: scroll;
  scrollbar-width: none;
  height: 1.4em;
  list-style: none;
  padding: 0;
  margin: auto 0;
  scroll-snap-type: y mandatory;
}

.number-swiper-column li{
  scroll-snap-align: center;
  height: 1em;
  margin: .25em .03em .4em .1em;
}

/* https://www.cssscript.com/number-picker-swiper/  */ 